@{ 
    ViewData["Title"] = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>ABOUT US</h2>
<hr />
<h4>For more than 70 years, Son of Cod Sustainable Seafood has served the oceans by harvesting, processing and distributing the highest-quality and best tasting seafood to our loyal consumers.</h4>
<hr />
<h2 class="blue">VERTICAL INTEGRATION</h2>
<h4 class="blue">When you work for a company who cares about you, you're inspired to excel.
That's why we own, manage and support every channel.</h4>
<div class="flex-container">
    <img src="~/img/harvester.jpg" alt="harvester" />
    <img src="~/img/boats.jpg" alt="boats" />
    <img src="~/img/trucks.jpg" alt="trucks" />
    <img src="~/img/processing.jpg" alt="processing" />
    <img src="~/img/packaging.jpg" alt="packaging" />
    <img src="~/img/distribution.jpg" alt="distribution" />
</div>
<p>From our fine local fishermen and their boats to the transport, processing and packaging, every aspect of the business is part of the Son of Cod Sustainable Seafood family. As a unified team from the docks straight to the top, we all care about providing you and your family the best the ocean has to offer.</p>