@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Our Boats</h2><br />
<main class="cards">
    <article class="card">
        <div class="container" id="boat1">
        </div>
    </article>
    <article class="card">
        <div class="container" id="boat2">
        </div>
    </article>
    <article class="card">
        <div class="container" id="boat4">
        </div>
    </article>
    <article class="card">
        <div class="container" id="boat3">
        </div>
    </article>
</main>
