.footer {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px;
  height: 80px;
  width: 100%; }

.navbar-default {
  background-color: grey;
  height: 20vh;
  display: flex;
  margin-bottom: 0px;
  align-items: center;
  justify-content: center; }

#navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  justify-content: center; }

.navbar-nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100px; }

