.footer {
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 20px;
    height: 80px;
    width: 100%;
}

#navbar-one {
    height: 5vh;
    background-color: grey;
}

#navbar-two {
    height: 10vh;
    background-color: white;
}

.navbar-default {
    display: flex;
    margin-bottom: 0px;

    #navbar {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;

        #nav-one a {
            margin: 10px;
            justify-content: center;
            color: white;
        }

        #nav-two a {
            margin: 10px;
            justify-content: center;
            color: black;
        }

        .navbar-nav {
            display: flex;
            flex-direction: row;
            width: 100%;

            #navlink {
                display: flex;
            }
        }
    }
}




