html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


body {
    position: relative;
    margin: 0;
    padding-bottom: 10rem;
    min-height: 100%;
    font-family: 'Didact Gothic', sans-serif;
    text-align: center;
}

#logo {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    background-image: url("../img/banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 19vh;
    min-height: 20vh;
    z-index: 10;
    padding-top:12px;

    h4 {
        color: white;
        text-shadow: 3px 3px 3px lightgrey;
    }
}

.footer {
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 20px;
    height: 50px;
    width: 100%;
    background-color: lightblue;
    a {
        color: white;
    }
}

#navbar-one {
    height: 5vh;
    background-color: grey;
}

#navbar-two {
    height: 10vh;
    background-color: white;
}

.navbar-default {
    display: flex;
    margin-bottom: 0px;

    #navbar {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        border-bottom: 1px solid lightgrey;

        #nav-one a {
            margin: 10px;
            justify-content: center;
            color: white;
            font-size: small;
        }

        #nav-two a {
            margin: 10px;
            justify-content: center;
            color: black;
        }

        .navbar-nav {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            width: 100%;

            #navlink {
                display: flex;
            }
        }
    }
}

.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    .card {
        position: relative;
        flex: 0 0 300px;
        margin: 10px;
        background-color: white;
        height: 315px;
        flex-direction: column;
        display: flex;
        align-items: center;
        border: none;
        .container {
            display: flex;
            height: 100%;
            flex-direction: column;
            align-items: center;
            border-bottom: 1px solid lightgrey;
            img {
                max-width: 100%;
            }
            .text {
                padding: 0 10px 10px;
            }
            button {
                background-color: navy;
                border: 0;
                padding: 10px;
                margin: 5px;
                width: 90%;
                align-self: center;
                margin-top: auto;
                a {
                    color: white;
                }
            }
        }
    }
}

.product {
    height: 100%;
    display: flex;
    flex-direction: column;
    #product-info {
        display: flex;
        flex-direction: row;
        text-align: left;
        padding: 15px;
        #product-details {
            flex: 1 0 0;
            padding-right: 20px;
        }

        #product-desc {
            flex: 1 0 0;
            padding-left: 30px;
        }
    }
}

.strong {
    font-weight: bold;
}

.home-slider {
    height: 80vh;
    display: flex;

    .pic-stack {
        display: flex;
        width: 100%;
        overflow: hidden;
        -webkit-animation: fading 18s infinite;
        animation: fading 18s infinite;
        background-repeat: no-repeat;
        margin-bottom: 30px;
    }
}

@-webkit-keyframes fading {
    0% {
        background: url("../img/home9.jpg");
        background-size: cover;
    }

    25% {
        background: url("../img/home4.jpg");
        background-size: cover;
    }

    50% {
        background: url("../img/home7.jpg");
        background-size: cover;
    }

    75% {
        background: url("../img/home12.jpeg");
        background-size: cover;
    }

    100% {
        background: url("../img/home6.jpg");
        background-size: cover;
    }
}

@keyframes fading {
    0% {
        background: url("../img/home9.jpg");
        background-size: cover;
    }

    25% {
        background: url("../img/home4.jpg");
        background-size: cover;
    }

    50% {
        background: url("../img/home7.jpg");
        background-size: cover;
    }

    75% {
        background: url("../img/home12.jpeg");
        background-size: cover;
    }

    100% {
        background: url("../img/home6.jpg");
        background-size: cover;
    }
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    input {
        width: 30%;
        text-align: center;
     }
    label {
        margin-top: 10px;
    }
    .btn {
        margin-top: 30px; 
        .btn:hover {
            border: 5px solid black;
        }
    }
}


